[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
arabic-reshaper = "*"
pyyaml = "*"
python-bidi = "*"
keyboard = "*"
termcolor = "*"

[dev-packages]

[requires]
python_version = "3.9"
